<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <th:block th:include="template :: style_css"/>
    <title>MeetApp - Login</title>
</head>
<body>

<th:block th:include="template :: navigator"/>
<div class="messages">
    <h1>MeetApp</h1>
    <h2>Login</h2>
</div>

<div class="container">
    <form th:href="@{/employee/login}" method="post">
        <div class="row buffer">
            <label for="username">Email:</label>
            <input type="text" name="username" id="username" placeholder="Email">
        </div>
        <div class="row buffer">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" th:value="Submit">
        </div>
    </form>
</div>
</body>
</html>