<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <title>MeetApp - Login</title>
</head>
<body>

<th:block th:include="template :: navigator"/>

<h1>MeetApp</h1>
<h2>Login</h2>

<form th:href="@{/employee/login}" method="post">
    <label for="username">Email:</label>
    <input type="text" name="username" id="username" placeholder="Email">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" th:value="Submit">
</form>
</body>
</html>