<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <title>MeetApp - Registration</title>
</head>
<body>

<th:block th:include="template :: navigator"/>
<th:block th:include="template :: messageBox"/>

<h1>MeetApp</h1>
<h2>User registration</h2>

<form th:action="@{/employee/register}" method="post" th:object="${user_register_form}">
    <input th:field="*{firstName}" placeholder="first name" th:value="*{firstName}">
    <input th:field="*{lastName}" placeholder="last name" th:value="*{lastName}">
    <input type="password" th:field="*{password}" placeholder="password" th:value="*{password}">
    <input th:field="*{email}" placeholder="email" th:value="*{email}">
    <input type="submit" th:value="Submit">
</form>

</body>
</html>