<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <th:block th:include="template :: style_css"/>
    <title>MeetApp - Registration</title>
</head>
<body>

<th:block th:include="template :: navigator"/>
<th:block th:include="template :: messageBox"/>

<h1>MeetApp</h1>
<h2>User registration</h2>

<div class="container">
    <form th:action="@{/employee/register}" method="post" th:object="${user_register_form}">
        <div class="row buffer">
            <label for="first name">First name:</label>
            <input th:field="*{firstName}" id="first name" placeholder="first name" th:value="*{firstName}">
            <label for="last name">Last name:</label>
            <input th:field="*{lastName}" id="last name" placeholder="last name" th:value="*{lastName}">
        </div>
        <div class="row buffer">
            <label for="department">Department:</label>
            <select th:field="*{department}" id="department">
                <option th:each="state : ${T(pl.sda.meetapp.model.Department).values()}"
                        th:value="${state}"
                        th:text="${state}">
                </option>
            </select>
        </div>
        <div class="row buffer">
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" placeholder="password" th:value="*{password}">
            <label for="email">Email:</label>
            <input th:field="*{email}" id="email" placeholder="email" th:value="*{email}">
        </div>
        <input type="submit" th:value="Submit">
    </form>
</div>

</body>
</html>