<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <th:block th:include="template :: style_css"/>
    <th:block th:include="template :: navigator"/>

    <title>MeetApp - Homepage</title>
</head>
<body>

<div class="messages">
    <h1>Welcome to MeetApp</h1>
    <div th:unless="${loggedIn}" class="col-2">
        <p>Please log in or register.</p>
    </div>
</div>

<div class="container">
    <div th:if="${loggedIn}" class="col-12">
        <!--TODO - list all contacts -->
        <!--<div class="row table-row" th:each=""-->
        <p>You're logged in</p>
        <div th:unless="${meetings.size() != 0}">
            <p>You're not a member of any planned meeting.</p>
        </div>

        <form th:action="@{/createMeeting}" method="post" th:object="${meeting}">
            <div class="row buffer">
                <label for="meeting.name">Name:</label>
                <input th:field="*{name}" id="meeting.name" placeholder="meeting name">
            </div>
            <div class="row buffer">
                <label for="meeting.description">Description:</label>
                <input th:field="*{description}" id="meeting.description" size="90" placeholder="meeting description">
            </div>
            <div class="row buffer">
                <label for="meeting.date">Date:</label>
                <input type="date" th:field="*{date}" id="meeting.date" placeholder="date">
            </div>
            <div class="row buffer">
                <input type="submit" th:value="Submit">
            </div>
        </form>

        <div th:if="${meetings.size() > 0}">
            <div class="row header marker">
                <div class="col-3">Meeting</div>
                <div class="col-4">Agenda</div>
                <div class="col-1">Date</div>
                <div class="col-3">Participants</div>
            </div>
            <div class="row table-row" th:each="meeting : ${meetings}">
                <div class="col-3" th:text="${meeting.name}"></div>
                <div class="col-4" th:text="${meeting.description}"></div>
                <div class="col-1" th:text="${meeting.date}"></div>
                <div class="col-3" th:text="${meeting.employees.get(0).printInfo()}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>